<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ReaLTaiizor" version="3.7.9" targetFramework="net481" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net481" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net481" />
</packages>