name: Mise à jour sur Winget 

on:
  release:
    types: [published]

env:
  packageFileName: Installer.exe
  packageId: STYInc.STY1001.UnowhyTools
  
jobs:
  
  winget:
    name: Publication sur Winget
    runs-on: windows-latest
    steps:
      - name: Envoi à Github
        run: |
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe
          $github = Get-Content '${{ github.event_path }}' | ConvertFrom-Json
          $installerUrl = $github.release.assets | Where-Object -Property name -match ${env:packageFileName} | Select -ExpandProperty browser_download_url -First 1
          .\wingetcreate.exe update ${env:packageId} -s -v $github.release.tag_name -u $installerUrl -t ${{ secrets.Project_PAT }}
